- if current_user && @group
	%br
	.container
		.panel-group
			.panel.panel-default
				.panel-heading
					%h6.panel-title
						%h3 Members
				.panel-body
					%table.table
						- @group.users.each do |member|
							%tr
								%td               
									%i.glyphicon.glyphicon-user
										%span.pad-5
											= member.name

	.container
		.panel-group
			.panel.panel-default
				.panel-heading
					%h6.panel-title
						%h3 Bill Settlement
				.panel-body
					%table.table
						- @group.settlement_info(current_user.id).each do |message|
							%tr
								%td               
									%i.glyphicon.glyphicon-info
										%span.pad-5
											= message
	            