%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{:style => "background: #5bc5a7"}
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.color-white{:href => "#{root_path}"} Home
/ #navbarNavDropdown.collapse.navbar-collapse
/   %ul.navbar-nav
/     %li.nav-item.active
/       %a.nav-link{:href => "#"}
/         Home
/         %span.sr-only (current)
    
/ %li.nav-item
/   %a.nav-link{:href => "#"} Features
/ %li.nav-item
/   %a.nav-link{:href => "#"} Pricing
/ %li.nav-item.dropdown.pull-right
/   %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"}
/     Dropdown link
/   .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
/     %a.dropdown-item{:href => "#"} Action
/     %a.dropdown-item{:href => "#"} Another action
/     %a.dropdown-item{:href => "#"} Something else here
