%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.btn-settle
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  = link_to "Expense Calculator", root_path, class: "navbar-brand color-white"
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        / %a.nav-link{:href => "#"}
        /   Home
        /   %span.sr-only (current)

    - if user_signed_in?
      = link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-brand color-white")
    - else
      = link_to('Login', new_user_session_path, class: "navbar-brand color-white")
